{% block dataaccesscontent %}
<div id="dataclassification" class = "col-md-6">
    <DataAccessLevels></DataAccessLevels>
</div>
<script src="<%= htmlWebpackPlugin.files.chunks.dataclassification.entry %>"></script>
{% endblock %}