{% block dataaccesscontent %}
<div id="dataclassification" class = "col-md-6">
    <data-classification></data-classification>
</div>
<script src="<%= htmlWebpackPlugin.files.chunks.dataclassification.entry %>"></script>
{% endblock %}